# JWT
JWT_SECRET_KEY=your-secret-key-here
JWT_ISSUER=dongchimi
JWT_ACCESS_TOKEN_EXPIRY=3600000

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=*

#DB
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# OAuth
KAKAO_USER_INFO_URI=https://kapi.kakao.com/v2/user/me
KAKAO_CONNECT_TIMEOUT=2s
KAKAO_READ_TIMEOUT=5s
